<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dolphinmind.behavior.mediator.dao.IAward">
    <select id="queryAwardInfoByAwardId" resultType="com.github.dolphinmind.behavior.mediator.po.Award">
        SELECT *
        FROM award
        WHERE award_id = #{award_id}
    </select>
</mapper>